<router-outlet></router-outlet>
<app-sidepanel></app-sidepanel>
<div class="main" fxLayout="column">
    <div class="main-box1" fxLayout="row" fxFlex="75%">
        <div class="main-box1-item1" fxFlex="25%">
            <h1>WHO</h1>
        </div>
        <div class="main-box1-item2" fxFlex="50%">
            <h1>MOO</h1>
        </div>
        <div class="main-box1-item3" fxFlex="25%">
            <h1>BOO</h1>
        </div>
    </div>

    <div class="main-box2" fxLayout="row" fxFlex="25%">
        <div class="main-box2-item1" fxLayout="column" fxFlex="33%">
            <!-- <h1 fxLayout="row" fxFlex="100%">WHO</h1> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, laboriosam praesentium. Tempora nobis tempore aliquam quas, neque pariatur nesciunt nostrum assumenda laboriosam placeat corporis cupiditate voluptas dolorem corrupti, asperiores possimus!</p>
        </div>
        <div class="main-box2-item2" fxLayout="column" fxFlex="67%">
            <h1 fxLayout="row" fxFlex="50%">MOO</h1>
            <h1 fxLayout="row" fxFlex="50%">MOO</h1>
        </div>
        <!-- <div class="main-box2-item3" fxFlex="25%">
            <h1>BOO</h1>
        </div> -->
    </div>
</div>
